# Ignore the entire data folder
data/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# specific code
app1.py
app2.py
app3.py

# Environment
.env

# Logs
logs/
*.log

# VSCode
.vscode/

# Secure_Config
.env.encrypted
.encryption_key
.env.backup_plaintext
